<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="filesConfigSection" 
               type="ConsoleApp1.Configuration.FilesConfigSection, ConsoleApp1"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <filesConfigSection culture="en-US">
    <directories>
      <directory path="D:\"/>
    </directories>
    <rules defaultDirectory="D:\otherFiles">
      <rule fileTemplate="^.*\.png" isOrderAdded="true" isDateAdded="false" toFolder="D:\pngFiles"/>
      <rule fileTemplate="^.*\.txt" isOrderAdded="false" isDateAdded="true" toFolder="D:\txtFiles"/>
    </rules>
  </filesConfigSection>
</configuration>